# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.


# -----------------------------------------------------------------------------
# Database (SQL - Postgres)
# -----------------------------------------------------------------------------

DATABASE_URL=postgres://<user>:<password>@localhost:<port>/<db>

# -----------------------------------------------------------------------------
# OAuth (Google Auth)
# -----------------------------------------------------------------------------
 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# AWS Spaces 
# -----------------------------------------------------------------------------

AWS_SPACE_ACCESS_KEY_ID=
AWS_SPACE_ACCESS_SECRET_KEY=
AWS_SPACE_REGION=
AWS_SPACE_BUCKET=