# -----------------------------------------------------------------------------
# Database (NoSQL - MongoDB)
# -----------------------------------------------------------------------------
 
DATABASE_URL=

# -----------------------------------------------------------------------------
# OAuth (Google Auth)
# -----------------------------------------------------------------------------
 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=