# -----------------------------------------------------------------------------
# Database (NoSQL - MongoDB)
# -----------------------------------------------------------------------------
 
DATABASE_URL=