# -----------------------------------------------------------------------------
# Database (NoSQL - MongoDB)
# -----------------------------------------------------------------------------
 
DATABASE_URL=

# -----------------------------------------------------------------------------
# OAuth (Google Auth)
# -----------------------------------------------------------------------------
 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# AWS Spaces 
# -----------------------------------------------------------------------------

AWS_SPACE_ACCESS_KEY_ID=
AWS_SPACE_ACCESS_SECRET_KEY=
AWS_SPACE_REGION=
AWS_SPACE_BUCKET=